# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env
.env.*

# Git
.git/
.gitignore

# Test Cache
.pytest_cache/

# Build Artifacts
*.egg-info/

# Uploads
uploads/*
!uploads/.gitkeep